resultsDFs/*.rds
resultsDFs/*.RDS
paper/paperDraft_cache/latex/
paper/paperDraft_files/
paper/paperDraft.log
paper/paperDraft.tex
.RDataTmp
.Rhistory
.Rproj.user
paper/paperDraft.log
paper/paperDraft.tex
codeTutorial_cache

