resultsDFs/*.rds
resultsDFs/*.RDS
paper/earlyDraft/paperDraft_cache/
paper/earlyDraft/paperDraft_files/
paper/earlyDraft/paperDraft.log
paper/earlyDraft/paperDraft.tex
.RDataTmp
.Rhistory
.Rproj.user
codeTutorial_cache

*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bcf
